<!-- INCLUDE overall_header.html -->

<form method="post" id="appform" enctype="multipart/form-data">
	<div class="panel">
		<div class="inner">
			<fieldset class="fields2" id="attach-panel-basic">
				<h2>{L_ABC_MEDAL_TITLE}</h2>
				<p>{L_ABC_MEDAL_EXPLAIN}</p>
			</fieldset>
			
			{ABC_MEDAL_EXISTING}
			
			<fieldset class="fields2" id="attach-panel-basic">
				<h2>{L_ABC_MEDAL_NEW}</h2>
				<dl>
					<dt><label for="medal_name">{L_ABC_MEDAL_NAME}</label><br>
					<span></span></dt>
					<dd><input type="text" name="medal_name" value="" maxlength="44" size="39" /></dd>
				</dl>
				<dl>
					<dt><label for="medal_desc">{L_ABC_MEDAL_DESC}</label><br>
					<span></span></dt>
					<dd><textarea class="abc_description" name="medal_desc" cols="40" rows="5" maxlength="242"></textarea></dd>
				</dl>
				<dl>
					<dt><label for="medal_image">{L_ABC_MEDAL_IMAGE}</label></dt>
					<dd>
						<input type="file" name="medal_image" id="medal_image" class="inputbox autowidth"/> 
					</dd>
				</dl>
				<dl>
					<dt><label for="medal_image">{L_ABC_MEDAL_RIBBON}</label></dt>
					<dd>
						<input type="file" name="medal_image" id="medal_image" class="inputbox autowidth"/> 
					</dd>
				</dl>
				<dl>
					<input type="submit" name="medal_new" id="medal_new" value="{L_ABC_MEDAL_CREATE}" class="button1"/>
				</dl>
			</fieldset>
			
		</div>
	</div>
	
	{ABC_LOGISTICS_NAV_BUTTONS}

	<div class="panel">
		<div class="inner">
			<fieldset class="submit-buttons">
			{ABC_NAV_BUTTONS}
			{S_FORM_TOKEN}
			</fieldset>
		</div>
	</div>

<!-- INCLUDE overall_footer.html -->