<!-- INCLUDE overall_header.html -->

<form method="post" id="appform" enctype="multipart/form-data">
	<div class="panel">
		<div class="inner">
			<fieldset class="fields2" id="attach-panel-basic">
				<h2>{ABC_LOGISTICS_TITLE}</h2>
				<p>{ABC_LOGISTICS_EXPLAIN}</p>
			</fieldset>
			
			<fieldset class="fields2" id="attach-panel-basic">
				<h2>{ABC_LOGISTICS_NEW}</h2>
				{ABC_LOGISTICS_CREATE}
			</fieldset>
			
			<fieldset class="fields2" id="attach-panel-basic">
				<h2>{ABC_LOGISTICS_EXIST}</h2>
				{ABC_LOGISTICS_EXISTING}
			</fieldset>
			
		</div>
	</div>
	
	{ABC_LOGISTICS_NAV_BUTTONS}

	<div class="panel">
		<div class="inner">
			<fieldset class="submit-buttons">
			{ABC_NAV_BUTTONS}
			{S_FORM_TOKEN}
			</fieldset>
		</div>
	</div>

<!-- INCLUDE overall_footer.html -->